<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - L02P02_2021RV650</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/progress.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/L02P02_2021RV650.styles.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        .navbar-brand img {
            max-width: 100%;
            height: auto;
        }

        .navbar-text {
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black text-white">
            <div class="container-fluid">

                <div class="mx-auto text-center">
                    <img src="../Views/Autores/Logo-UNICAES-OFICIAL-923x1024.png" alt="Logo" width="120">
                    <h1>comentarios por libros</h1>
                    <p>seleccione el autor -> seleccione el libro -> se muestran los comentarios existentes -> adicione un nuevo comentario </p>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="text-center footer-expand-lg navbar-dark bg-black text-white">
        <div class="container">
            <p>© 2021 RM 651 KEVIN MARTINEZ</p>
            <p>© 2021 RV 650 CHRISTOPHER VALLECIOS</p>

        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
