@model IEnumerable<L02P02_2021RV650.Models.Autore>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <ul class="progressbar">
        <li class="active">Autores</li>
        <li>Libros</li>
        <li>Comentarios existentes</li>
        <li>Nuevo comentario</li>
    </ul>
    <br />
</div>

<div class="container mt-4">
    <table class="table table-bordered border-gray">
        <thead class="bg-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Autor)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Autor)</td>
                    <td class="text-center">
                        <a asp-action="LibrosAutor" asp-route-id="@item.Id" class="btn btn-success">Seleccionar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
